doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet")
        link(rel="stylesheet", href="./styles/main_style.css")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title PaintBoard
    body 
        div(class="paintboard")
            div(class="paintboard__tools")
                p(class="tools__title  title") TOOLS
                button(class="tools__button--pencil buttons__tools")
                button(class="tools__button--eraser buttons__tools")                   
                button(class="tools__button--eraserselection buttons__tools")
                button(class="tools__button--square buttons__tools")
                button(class="tools__button--circle buttons__tools")
                button(class="tools__button--ellipse buttons__tools")
                button(class="tools__button--triangle buttons__tools")
                button(class="tools__button--roundrectangle buttons__tools")
                button(class="tools__button--line buttons__tools")
                p(class="colors__title title") COLORS
                button(class="settings__button--fill buttons__settings")
                    div(class="settings__fillcolor")
                input(type="checkbox" class="settings__fillnull")
                button(class="settings__button--line buttons__settings")
                    div(class="settings__linecolor")
                input(type="checkbox" class="settings__linenull")
                div(class="container__colors_buttons")                
                    button(class="colors__button--white buttons__colors")
                    button(class="colors__button--black buttons__colors")
                    button(class="colors__button--gray buttons__colors")
                    button(class="colors__button--red buttons__colors")
                    button(class="colors__button--green buttons__colors")
                    button(class="colors__button--blue buttons__colors")
                    button(class="colors__button--yellow buttons__colors")
                    button(class="colors__button--pink buttons__colors")
                    button(class="colors__button--orange buttons__colors")
                    input(type="color" class="button__colorpicker" value="#111111")
                p(class="settings__title title") SETTINGS
                div(class="eraser__linewidth rangecontainer")
                    p Eraser Size
                    input(type="range" value="10" min="5" max="100" step="5")
                    p 10
                div(class="settings__linewidth rangecontainer")
                    p Line Width
                    input(type="range" value="1" min="1" max="20" step="1")
                    p 1
                p(class="edits__title title") EDIT
                
            div(class="paintboard__canvas")
                div(class="paintboard__rule_x")
                    span(id="rule_x__cursor")
                div(class="paintboard__rule_y")
                    span(id="rule_y__cursor")
                div(class="container__canvas")
                    canvas(class="canvas" width="1600" height="700")

        script(src="./scripts/script.js") 